<div class="modal fade" id="popupChangePassword" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-app="app">
    <div class="modal-dialog" style="width:450px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <div class="modal-title">
                    <span>
                        <span style="font-size:18px;">Cambio de Contraseña</span>
                    </span>
                </div>
            </div>

            <div class="login-form padding20 block-shadow bg-grayLighter" style="padding: 1.25em 1.25em 4.25em 1.25em;">
                <form name="changePasswordForm" ng-submit="changePassword(currentpass, newpass)" role="form" enctype="multipart/form-data">
                    @*<h1 class="text-light">Cambio de Contraseña</h1>
                    <hr class="thin" />
                    <br />*@
                    <br />
                    <br />
                    <div class="input-control text full-size" data-role="input">
                        <label for="usuario">Contraseña Actual:</label>
                        <div class="inner-addon left-addon">
                            <i class="glyphicon glyphicon-lock"></i>
                            <input class="form-control" type="password" name="currentpass" id="currentpass" ng-model="currentpass" required>
                        </div>
                            <span ng-show="changePasswordForm.currentpass.$dirty && changePasswordForm.currentpass.$error.required" class="help-block" style="color: red;">El campo Contraseña Actual es requerido</span>
                        </div>
                    <br />
                    <div class="input-control text full-size" data-role="input">
                        <label for="usuario">Nueva Contraseña:</label>
                        <input class="form-control" type="password" name="newpass" id="newpass" ng-model="newpass" required />
                        <span ng-show="changePasswordForm.newpass.$dirty && changePasswordForm.newpass.$error.required" class="help-block" style="color: red;">El campo Nueva Contraseña es requerido</span>
                        <ng-password-meter password="newpass"></ng-password-meter>
                    </div>
                    <br />
                    <div class="input-control text full-size" data-role="input">
                        <label for="usuario">Confirmar Nueva Contraseña:</label>
                        <input class="form-control" type="password" name="confirmnewpass" id="confirmnewpass" ng-model="confirmnewpass" required>
                        <span ng-show="changePasswordForm.confirmnewpass.$dirty && changePasswordForm.confirmnewpass.$error.required" class="help-block" style="color: red;">El campo Confirmar Contraseña es requerido</span>
                    </div>
                    <br />
                    <div class="form-actions">
                        <!--<a class="button link place-left" href="#/home" style="padding-left: 0 !important;">Cancelar</a>-->
                        <button type="submit" ng-disabled="changePasswordForm.$invalid" class="button rounded primary place-right"><span class="mif-cog"></span> Cambiar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
