<div class="row">
    <div class="col-md-12">
        <div>
            <div class="row" style="margin-top: -10px; margin-bottom: 10px">
                <div class="col-md-2" id="colModalidadPotenciales">
                    <div id="ftrModalidadPotenciales" style="width:110% !important"></div>
                </div>
                <div class="col-md-3 no-margin">
                    <div id="ftrMedicoPotenciales"></div>
                </div>
                <div class="col-md-2">
                    <div id="ftrDiaPotenciales"></div>
                </div>
                <div class="col-md-2">
                    <div id="ftrZonaPotenciales"></div>
                </div>
                <div class="col-xs-5 col-md-1">
                    <input type="submit" value="Consultar" id="btnConsultarPotenciales" class="background-blue color-white" />
                </div>
                <div class="col-xs-5 col-md-1">
                    <input type="submit" value="Refrescar" id="btnRefrescarPotenciales" class="background-blue color-white" />
                </div>
                </div>
        </div>
    </div>
</div>

<div class="row" style="height: 360px">
    <div class="col-md-12 " style="margin-top: -5px">
        <div id="grdPotenciales"></div>
    </div>
</div>



