<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-ExtranetAppsOmniSerca-20140513092657;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-ExtranetAppsOmniSerca-20140513092657.mdf"/>
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="PreserveLoginUrl" value="true"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="SessionTimeOut" value="20"/>
    <!--<add key="MailAddress" value="infomedicos@serca.com.ar" />
    <add key="MailPassword" value="jkla964" />
    <add key="MailFrom" value="Serca Extranet" />
    <add key="MailServer" value="mr.fibercorp.com.ar" />
    <add key="MailPort" value="587" />
    <add key="MailSSL" value="true" />-->
    <add key="MailAddress" value="sistemas@serca.com.ar"/>
    <add key="MailPassword" value="Manager18"/>
    <add key="MailFrom" value="Serca Extranet"/>
    <add key="MailServer" value="mr.fibercorp.com.ar"/>
    <add key="MailPort" value="587"/>
    <add key="MailSSL" value="true"/>
    <add key="SiteLocation" value="Donado"/> <!--"Salta", "Cordoba", "Donado"-->
    <!--Salta-->
    <add key="ServerFileSystem" value="archivos"/>
    <add key="CtaCteMailTo" value="mmarenna@serca.com.ar"/>
    <!--CtaCteMailSubject: 0-NroTango, 1-TipoComprobante 2-SucursalComprobante 3-NroComprobante -->
    <add key="CtaCteMailSubject" value="Comprobante {0} {1} {2}-{3}"/>
    <add key="CtaCteMailBody" value="Detalle del comprobante asociado a la OP nro:"/>
    <add key="AfiliacionesPreparadoMailTo" value="jbaglione@serca.com.ar"/>
    <add key="AfiliacionesActivoMailTo" value="jbaglione@serca.com.ar"/>
    <!--<add key="AfiliacionesPreparadoMailTo" value="cpolotto@serca.com.ar"/>
    <add key="AfiliacionesActivoMailTo" value="mherrera@serca.com.ar"/>-->
    <add key="AfiliacionesPreparadoMailSubject" value="Un cliente fue marcado como preparado."/>
    <add key="AfiliacionesPreparadoMailBody" value="El cliente {0} fue marcado como preparado, por el vendedor {1}."/>
    <add key="AfiliacionesActivoMailSubject" value="Un nuevo cliente se encuentra activo en el sistema."/>
    <add key="AfiliacionesActivoMailBody" value="El cliente {0}, con codigo {1} fue activado por {2}."/>
    <add key="AfiliacionesContratoAttachmentTitle" value="Contrato GRUPO SERCA"/>
    <add key="AfiliacionesContratoMailSubject" value="Contratación GRUPO SERCA"/>
    <add key="AfiliacionesContratoMailBody" value="Por medio del presente correo le adjuntamos la constancia de contratación de nuestros servicios. Si tiene alguna duda al respecto, no dude en comunicarse con su ejecutivo de cuentas.&lt;br /&gt;&lt;br /&gt; Le agradecemos por confiar en GRUPO SERCA. &lt;br /&gt;Bienvenido!"/>
    <!--<add key="URLSecurity" value="http://remote.omnisaludsa.com.ar:5568/Security/Users/"/>-->
    <add key="URLSecurity" value="http://localhost:5003/Security/Users/"/>
  </appSettings>
  <!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="2880"/>
    </authentication>
    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Helpers"/>
        <add namespace="System.Web.Mvc"/>
        <add namespace="System.Web.Mvc.Ajax"/>
        <add namespace="System.Web.Mvc.Html"/>
        <add namespace="System.Web.Optimization"/>
        <add namespace="System.Web.Routing"/>
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
    <profile defaultProvider="DefaultProfileProvider">
      <providers>
        <add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/"/>
      </providers>
    </profile>
    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
        <add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
      </providers>
    </membership>
    <roleManager defaultProvider="DefaultRoleProvider">
      <providers>
        <add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/"/>
      </providers>
    </roleManager>
    <!--
            If you are deploying to a cloud environment that has multiple web server instances,
            you should change session state mode from "InProc" to "Custom". In addition,
            change the connection string named "DefaultConnection" to connect to an instance
            of SQL Server (including SQL Azure and SQL  Compact) instead of to SQL Server Express.
      -->
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection"/>
      </providers>
    </sessionState>
    <webServices>
      <soapExtensionTypes>
        <add type="ExtranetAppsOmniSerca.Helpers.MyFaultLogger, ExtranetAppsOmniSerca" priority="1" group="High"/>
      </soapExtensionTypes>
    </webServices>
  </system.web>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*"/>
        <add name="Access-Control-Allow-Methods" value="GET,PUT,POST,DELETE,OPTIONS"/>
        <add name="Access-Control-Allow-Headers" value="Content-Type"/>
      </customHeaders>
    </httpProtocol>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="NLog" type="NLog.Web.NLogHttpModule, NLog.Web"/>
    </modules>
    <handlers>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit"/>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit"/>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0"/>
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ContratadosLiquidacionesSoap" />
        <binding name="ContratadosLiquidacionesSoap1" maxReceivedMessageSize="64000000" />
        <binding name="ClientesOperativosSoap" receiveTimeout="00:10:00"
          maxReceivedMessageSize="64000000" />
        <binding name="ClientesOperativosSoap1" maxReceivedMessageSize="64000000" />
        <binding name="NotificacionesSoap" maxBufferSize="64000000" maxReceivedMessageSize="64000000" />
        <binding name="ClientesDocumentosSoap" maxReceivedMessageSize="64000000" />
        <binding name="WSShamanFECAESoap" maxReceivedMessageSize="64000000" />
        <binding name="ProveedoresCuentasSoap" maxReceivedMessageSize="64000000" />
        <binding name="TercerosLiquidacionesSoap" />
        <binding name="EmpleadosLiquidacionesSoap" maxReceivedMessageSize="64000000" />
        <binding name="WebAppsSoap" />
        <binding name="VendedoresSoap" maxReceivedMessageSize="64000000" />
        <binding name="ClientesOperativosSoap2" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://remote.omnisaludsa.com.ar:57772/csp/shaman/WebServices.ClientesDocumentos.cls"
        binding="basicHttpBinding" bindingConfiguration="ClientesDocumentosSoap"
        contract="WSClientesDocumentos.ClientesDocumentosSoap" name="ClientesDocumentosSoap" />
      <endpoint address="http://remote.omnisaludsa.com.ar:57772/csp/shaman/WebServices.ProveedoresCuentas.cls"
        binding="basicHttpBinding" bindingConfiguration="ProveedoresCuentasSoap"
        contract="WSProveedoresCuentas.ProveedoresCuentasSoap" name="ProveedoresCuentasSoap" />
      <endpoint address="http://remote.omnisaludsa.com.ar:57772/csp/shaman/WebServices.Notificaciones.cls"
        binding="basicHttpBinding" bindingConfiguration="NotificacionesSoap"
        contract="WSNotificaciones.NotificacionesSoap" name="NotificacionesSoap" />
      <endpoint address="http://remote.omnisaludsa.com.ar:57772/csp/shaman/WebServices.EmpleadosLiquidaciones.cls"
        binding="basicHttpBinding" bindingConfiguration="EmpleadosLiquidacionesSoap"
        contract="WSEmpleadosLiquidaciones.EmpleadosLiquidacionesSoap"
        name="EmpleadosLiquidacionesSoap" />
      <endpoint address="http://remote.omnisaludsa.com.ar:57772/csp/shaman/WebServices.ClientesOperativos.cls"
        binding="basicHttpBinding" bindingConfiguration="ClientesOperativosSoap"
        contract="WSProduccionOperativaClientes.ClientesOperativosSoap"
        name="ClientesOperativosSoap" />
      <endpoint address="http://remote.omnisaludsa.com.ar:57772/csp/shaman/WebServices.WebApps.cls"
        binding="basicHttpBinding" bindingConfiguration="WebAppsSoap"
        contract="WSWebApps.WebAppsSoap" name="WebAppsSoap" />
      <endpoint address="http://remote.omnisaludsa.com.ar:57772/csp/shaman/WebServices.Vendedores.cls"
        binding="basicHttpBinding" bindingConfiguration="VendedoresSoap"
        contract="WSVendedores.VendedoresSoap" name="VendedoresSoap" />
      <endpoint address="http://remote.omnisaludsa.com.ar:59991/WSShamanFECAE.asmx"
        binding="basicHttpBinding" bindingConfiguration="WSShamanFECAESoap"
        contract="WSShamanFecae.WSShamanFECAESoap" name="WSShamanFECAESoap" />
      <endpoint address="http://remote.omnisaludsa.com.ar:57772/csp/shaman/WebServices.ContratadosLiquidaciones.cls"
        binding="basicHttpBinding" bindingConfiguration="ContratadosLiquidacionesSoap"
        contract="WSContratadosLiquidaciones.ContratadosLiquidacionesSoap"
        name="ContratadosLiquidacionesSoap" />
      <endpoint address="http://remote.omnisaludsa.com.ar:57772/csp/shaman/WebServices.TercerosLiquidaciones.cls"
        binding="basicHttpBinding" bindingConfiguration="TercerosLiquidacionesSoap"
        contract="WSTercerosLiquidaciones.TercerosLiquidacionesSoap"
        name="TercerosLiquidacionesSoap" />
      <endpoint address="http://remote.omnisaludsa.com.ar:57772/csp/shaman/WebServices.ClientesOperativos.cls"
        binding="basicHttpBinding" bindingConfiguration="ClientesOperativosSoap"
        contract="WSOperativaClientes.ClientesOperativosSoap"
        name="ClientesOperativosSoap" />
    </client>
    <!--
    <client>
      <endpoint address="http://192.168.5.95:57772/csp/shaman/WebServices.ClientesOperativos.cls" binding="basicHttpBinding" bindingConfiguration="ClientesOperativosSoap1" contract="WSProduccionOperativaClientes.ClientesOperativosSoap" name="ClientesOperativosSoap1" />
      <endpoint address="http://192.168.5.95:57772/csp/shaman/services/WebServices.ContratadosLiquidaciones.cls" binding="basicHttpBinding" bindingConfiguration="ContratadosLiquidacionesSoap1" contract="WSProduccionContratadosLiquidaciones.ContratadosLiquidacionesSoap" name="ContratadosLiquidacionesSoap1" />
      <endpoint address="http://192.168.5.95:57772/csp/shaman/WebServices.ClientesDocumentos.cls" binding="basicHttpBinding" bindingConfiguration="ClientesDocumentosSoap" contract="WSClientesDocumentos.ClientesDocumentosSoap" name="ClientesDocumentosSoap" />
      <endpoint address="http://192.168.5.95:57772/csp/shaman/WebServices.ProveedoresCuentas.cls" binding="basicHttpBinding" bindingConfiguration="ProveedoresCuentasSoap" contract="WSProveedoresCuentas.ProveedoresCuentasSoap" name="ProveedoresCuentasSoap" />
      <endpoint address="http://192.168.5.95:57772/csp/shaman/WebServices.ContratadosLiquidaciones.cls" binding="basicHttpBinding" bindingConfiguration="ContratadosLiquidacionesSoap" contract="WSContratadosLiquidaciones.ContratadosLiquidacionesSoap" name="ContratadosLiquidacionesSoap" />
      <endpoint address="http://192.168.5.95:57772/csp/shaman/WebServices.ClientesOperativos.cls" binding="basicHttpBinding" bindingConfiguration="ClientesOperativosSoap" contract="WSOperativaClientes.ClientesOperativosSoap" name="ClientesOperativosSoap" />
      <endpoint address="http://localhost:5551/WSShamanFECAE.asmx" binding="basicHttpBinding" bindingConfiguration="WSShamanFECAESoap" contract="WSShamanFecae.WSShamanFECAESoap" name="WSShamanFECAESoap" />
      <endpoint address="http://192.168.5.95:57772/csp/shaman/WebServices.TercerosLiquidaciones.cls" binding="basicHttpBinding" bindingConfiguration="TercerosLiquidacionesSoap" contract="WSTercerosLiquidaciones.TercerosLiquidacionesSoap" name="TercerosLiquidacionesSoap" />
      <endpoint address="http://192.168.5.95:57772/csp/shaman/WebServices.Notificaciones.cls" binding="basicHttpBinding" bindingConfiguration="NotificacionesSoap" contract="WSNotificaciones.NotificacionesSoap" name="NotificacionesSoap" />
    </client>
-->
  </system.serviceModel>
</configuration>