<div class="modal fade" id="popupEdicion" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog" style="width: 800px">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<div class="modal-title">
					<span>
						<i class="fa fa-search big-icon naranja"></i>
						<span id="titlePopupMensajeEdicion" style="font-size:18px;margin-left:5px">Modificar mensaje</span>
					</span>
				</div>
			</div>
			<div class="modal-body">
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="popupConfirmacion" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog" style="width: 400px">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<div class="modal-title">
					<span>
						<i class="fa fa-warning big-icon naranja"></i>
						<span id="titlePopupGuardias" style="font-size:18px;margin-left:5px">Atencion</span>
					</span>
				</div>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="form-group col-md-12">
						<label>Esta guardando el mensaje sin destinatarios.</label>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-md-12" style="text-align: center;">
						<button type="button" class="btn btn-primary" style="width:127px;" data-dismiss="modal" id="guardarSinUsuarios">Guardar</button>
						<button type="button" class="btn btn-default" style="width:127px;" data-dismiss="modal">Cancelar</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="popupProcesando" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog" style="width: 400px">
		<div class="modal-content">
			<div class="modal-body">
				<div class="row">
					<div class="form-group col-md-12">
						<label>Procesando...</label>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="popupErrores" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 400px">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="form-group col-md-12">
                        <span id="labelErrores">ssss</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
